body::before {
    content: "";
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    background-image: url("https://i1.sndcdn.com/artworks-wfHVnCIJdfZiO0v6-sJ5ljQ-t500x500.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    opacity: 1 !important;
    z-index: -1 !important;
    pointer-events: none !important;
}
